body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

#video-container {
  position: relative;
  display: inline-block;
  width: 90%;          /* ajusta el tamaño total del cuadro */
  max-width: 400px;    /* máximo ancho en móvil */
}

#video, #canvas {
  width: 100%;
  height: auto;
  display: block;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* para que toques no interfieran */
}

#resultado {
  margin-top: 10px;
  font-size: 1.2em;
}
